<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label class="form-label">Eredeti jelszó</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input [type]="origPasswordFieldType" formControlName="origPassword" id="origPassword" class="form-control"
                placeholder="Eredeti jelszó" required
                [ngClass]="{'is-invalid': form['origPassword'].invalid && (form['origPassword'].dirty || form['origPassword'].touched)}" />

            <button type="button" class="input-group-text password-toggle" (click)="togglePasswordVisibility('orig')">
                <i class="bi"
                    [ngClass]="{ 'bi-eye': origPasswordFieldType === 'password', 'bi-eye-slash': origPasswordFieldType === 'text' }"></i>
            </button>
        </div>
        <div *ngIf="form['origPassword'].invalid && (form['origPassword'].dirty || form['origPassword'].touched)"
            class="text-danger mt-1">
            <div *ngIf="form['origPassword'].errors?.['required']">
                Az **eredeti jelszó** megadása kötelező.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Új jelszó</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input [type]="newPasswordFieldType" formControlName="newPassword" id="newPassword" class="form-control"
                placeholder="Új jelszó" required
                [ngClass]="{'is-invalid': form['newPassword'].invalid && (form['newPassword'].dirty || form['newPassword'].touched)}" />

            <button type="button" class="input-group-text password-toggle" (click)="togglePasswordVisibility('new')">
                <i class="bi"
                    [ngClass]="{ 'bi-eye': newPasswordFieldType === 'password', 'bi-eye-slash': newPasswordFieldType === 'text' }"></i>
            </button>
        </div>
        <div *ngIf="form['newPassword'].invalid && (form['newPassword'].dirty || form['newPassword'].touched)"
            class="text-danger mt-1">
            <div *ngIf="form['newPassword'].errors?.['required']">
                Az **új jelszó** megadása kötelező.
            </div>
            <div *ngIf="form['newPassword'].errors?.['minlength']">
                Az új jelszónak legalább **4 karakter** hosszúnak kell lennie.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Jelszó megerősítése</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input [type]="confimPasswordFieldType" formControlName="confirmPassword" id="confirmPassword"
                class="form-control" placeholder="Jelszó megerősítése" required
                [ngClass]="{'is-invalid': form['confirmPassword'].invalid && (form['confirmPassword'].dirty || form['confirmPassword'].touched) || passwordChangeForm.errors?.['mustMatch']}" />

            <button type="button" class="input-group-text password-toggle"
                (click)="togglePasswordVisibility('confirm')">
                <i class="bi"
                    [ngClass]="{ 'bi-eye': confimPasswordFieldType === 'password', 'bi-eye-slash': confimPasswordFieldType === 'text' }"></i>
            </button>
        </div>
        <div *ngIf="form['confirmPassword'].invalid && (form['confirmPassword'].dirty || form['confirmPassword'].touched)"
            class="text-danger mt-1">
            <div *ngIf="form['confirmPassword'].errors?.['required']">
                A **jelszó megerősítése** kötelező.
            </div>
            <div *ngIf="form['confirmPassword'].errors?.['minlength']">
                A jelszónak legalább **4 karakter** hosszúnak kell lennie.
            </div>
        </div>

        <div *ngIf="passwordChangeForm.errors?.['mustMatch'] && (form['confirmPassword'].dirty || form['confirmPassword'].touched)"
            class="text-danger mt-1">
            Az **új jelszó** és a **megerősítés** nem egyezik.
        </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
    </div>

    <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="passwordChangeForm.invalid">
        Mentés
    </button>
</form>