<div *ngIf="loading" class="spinner-wrapper">
  <mat-spinner diameter="50" strokeWidth="5" color="primary"></mat-spinner>
</div>

<div *ngIf="!loading && accommodation">

  <div class="profile-container">
    <div class="header d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">

      <div class="header-info d-flex flex-column mb-3 mb-md-0">
        <h5> <strong>{{ accommodation.name }}</strong> [{{accommodation.id}}]</h5>

        <div class="meta-data d-flex flex-wrap gap-3 mt-1">
          <span [ngClass]="statusClass"><b>Státusz:</b> {{ statusText | uppercase }} </span>
          <span><b>NTAK:</b> {{ accommodation.reg_number }} </span>
          <span><b>Reg. dátum:</b> {{ accommodation.created_date | date: 'yyyy-MM-dd' }} </span>
        </div>
      </div>

      <div class="actions d-flex gap-2">
        <button (click)="toggleEdit()" [ngClass]="isEditing ? 'btn btn-outline-danger':'btn btn-outline-primary'">
          <i class="bi" [ngClass]="isEditing ? 'bi-x' : 'bi-pencil'"></i>
          {{ isEditing ? 'Mégse' : 'Szerk.' }}
        </button>
        <button *ngIf="isEditing" (click)="save()" [disabled]="accomodationForm.invalid" class="btn btn-success">
          <i class="bi bi-check-circle me-1"></i> Mentés
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <form [formGroup]="accomodationForm" (ngSubmit)="save()">

          <div class="field d-flex align-items-center mb-3">
            <label class="me-3 mb-0">Cím:</label>
            <span class="form-control-static me-3">{{ addressString }}</span>

            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
              data-bs-target="#addressNotEditableModal">
              <i class="bi bi-info-circle-fill"></i>
            </button>
          </div>

          <div class="field">
            <label>Kapcsolattartó neve:</label>
            <input formControlName="contactName" />
          </div>
          <div class="field">
            <label>Kapcsolattartó telefonszáma:</label>
            <input formControlName="contactPhone" />
          </div>
          <div class="field">
            <label>Kapcsolattartó emailcíme:</label>
            <input formControlName="contactEmail" />
          </div>
        </form>
      </div>

      <div class="col-12 col-md-6">
        <div class="field">
          <app-connection-comp [accommodationId]="accommodationId" [type]="szallas_hu"></app-connection-comp>
        </div>
        <div class="field">
          <app-connection-comp [accommodationId]="accommodationId" [type]='vendegem'></app-connection-comp>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addressNotEditableModal" tabindex="-1" aria-labelledby="addressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addressModalLabel">Cím Módosítása</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead text-danger">
            <strong>A cím adatok jelenleg nem módosíthatók ezen a felületen.</strong>
          </p>
          <p>A jelenlegi cím: **{{ addressString }}**</p>
          <p>Kérjük, vegye fel a kapcsolatot a rendszergazdával a változtatáshoz.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
        </div>
      </div>
    </div>
  </div>
</div>