<div class="container">
  <div class="form-container">
    <h2 mat-dialog-title>Change Password</h2>
    <form [formGroup]="passwordChangeForm">
      <div mat-dialog-content>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="oldPassword" type="password" [(ngModel)]="oldPassword" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" [(ngModel)]="newPassword" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" [(ngModel)]="confirmPassword" />
        </mat-form-field>
        
      </div>
    </form>
    <div class="buttons-container">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="changePassword()">Change</button>
    </div>
  </div>
</div>